  {% load static %}
<footer>
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Internship</a>
    </li>
    <li>
      <a href="#">Vendors</a>
    </li>
    <li>
      <a href="#">Login</a>
    </li>
    <li>
      <a href="#">Sign Up</a>
    </li>
  </ul>
</footer>
<script src="{% static 'main/js/nav.js' %}"></script>
<script src="{% static 'main/js/cart.js' %}"></script>
<script src="{% static 'main/js/search.js' %}"></script>

