{% load static %}
<!-- Navbar -->

<nav class="main-navbar hidden-xs hidden-sm">
      <div class="container-fluid">
              <div class="main-navbar-header">

                  <div class="logo">
                    <a href="/">
                      <img class="logo" src="{% static 'main/images/logo.png' %}" />
                    </a>
                  </div>
                  <div class="navbar-header-items">
                  <div class="other-navbar-header-items navbar-list hidden-xs hidden-sm">
                      <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Sell With Us</a></li>
                        <li><a href="#">Offers and deals</a></li>
                      </ul>
                  </div>
                  <div class="main-navbar-header-items">
                    <!-- Search bar -->
                    <div class="search-form">
                      <form class="main-navbar-form">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search" name="search_term">
                          <button type="button" name="button" class="btn btn-default search-btn" data-url="{% url "search" %}">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                        </div>
                      </form>
                    </div>
                    <!--Desktop buttons-->
                    <div class="main-navbar-more-buttons hidden-xs">
                          <a href="{%url "checkout"%}">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i> CART
                              <span class="cart-item-number badge">1</span>
                            </a>
                  
                        <div class="dropdown">
                          {% if siteuser %}
                          <a href="" class="btn btn-default navbar-user-btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{siteuser.customer.Customer_First_Name}}
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                          </a>
                          <ul class="dropdown-menu user-action-list">
                            <li><a href="{%url "user-dashboard"%}">Dashboard</a></li>
                            <li><a href="{%url "user-orders" %}">Orders</a></li>
                            <li><a href="{%url "coupons" %}">Your Coupons</a></li>
                            <li><a href="{%url "credits" %}">Your Credits</a></li>
                            <li><a href="{%url "signout" %}">Log Out</a></li>
                          </ul>
                            {% else %}
                            <a href="" class="btn btn-default navbar-user-btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            MY ACCOUNT
                            <i class="fa fa-caret-down" aria-hidden="true"></i>

                          </a>
                          <ul class="dropdown-menu user-action-list">
                            <li><a href="/signin/">Login</a></li>
                            <li><a href="/register/">Sign Up</a></li>
                          </ul>
                          {%endif%}
                        </div>
                    </div>
                  </div>

                </div>

                  <div class="main-navbar-menu-list navbar-list" data-hover="dropdown" id="mainNavbar">
                      <ul>
                      {% for base in base_category_list%}
                            <li class="dropdown"><a href="{{category.category_name}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ base.Base_Category }}</a>
                              <ul class="dropdown-menu">
                                {% for  sub in base.subcategory_set.all %}

                                    <li><a href="/product/{{base.Base_Category|lower}}/{{sub.Sub_Category|lower}}/">{{sub.Sub_Category}}</a></li>

                                {% endfor %}
                              </ul>
                            </li>
                        {% endfor %}
                      </ul>
                  </div>
              </div>

      </div>
</nav>
<!-- for mobile -->
<nav class="main-navbar visible-xs visible-sm">
    <div class="container-fluid">
      <div class="main-navbar-header">
        <div class="main-toggle-button">
            <button id="navbar-toggle-button" class="main-navbar-button visible-xs-inline btn btn-default small-button">
                  <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>

        <div class="logo">
          <a href="/">
            <img class="logo" src="{% static 'main/images/logo.png' %}" />
          </a>
        </div>

        <div class="main-navbar-more-buttons">
          <button class="btn btn-default navbar-cart-btn">
            <a href="{%url "checkout"%}">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> CART
                <span class="cart-item-number badge">1</span>
              </a>
          </button>
            <div class="dropdown">
              {% if siteuser %}
              <a href="" class="btn btn-default navbar-user-btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-user" aria-hidden="true"></i>
                {{siteuser.customer.Customer_First_Name}}
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu user-action-list">
                <li><a href="{%url "user-dashboard"%}">Dashboard</a></li>
                <li><a href="{%url "user-orders" %}">Orders</a></li>
                <li><a href="{%url "coupons" %}">Your Coupons</a></li>
                <li><a href="{%url "credits" %}">Your Credits</a></li>
                <li><a href="{%url "signout" %}">Log Out</a></li>
              </ul>
                {% else %}
                <a href="" class="btn btn-default navbar-user-btn dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                <i class="fa fa-user" aria-hidden="true"></i>
                MY ACCOUNT
                <i class="fa fa-caret-down" aria-hidden="true"></i>

              </a>
              <ul class="dropdown-menu user-action-list">
                <li><a href="/signin/">Login</a></li>
                <li><a href="/register/">Sign Up</a></li>
              </ul>
              {%endif%}
        </div>

      </div>

      <div class="search-form">
        <form class="main-navbar-form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <button type="button" name="button" class="btn btn-default search-btn">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>

      <div class="navbar-mobile-list" id="full-list">
        <div class="mobile-list-header">
          <div class="main-toggle-button">
              <button id="navbar-toggle-button" class="main-navbar-button visible-xs-inline btn btn-default small-button">
                    <i class="fa fa-times" aria-hidden="true"></i>
              </button>
          </div>
          <div class="logo">
            <a href="/">
              <img class="logo" src="{% static 'main/images/logo.png' %}" />
            </a>
          </div>

        </div>
        <ul>
          {% for base in base_category_list%}
              <li class="mobile-list-link"><strong>{{ base.Base_Category }}</strong>
                <i class="fa fa-plus pull-right" aria-hidden="true"></i>
                <ul class="mobile-list-sub">
                    {% for  sub in base.subcategory_set.all %}

                        <li><a href="/product/{{base.Base_Category|lower}}/{{sub.Sub_Category|lower}}/">{{sub.Sub_Category}}</a></li>

                    {% endfor %}
                </ul>
              </li>
          {% endfor %}
        </ul>
        <ul>
          <li><a href="{%url "user-orders"%}">My Orders</a></li>
          <li><a href="{%url "checkout"%}">My Cart</a></li>
          <li><a href="{%url "credits"%}">My FashVolts Credits</a></li>
          <li><a href="/signin/">My Account</a></li>
        </ul>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Sell With Us</a></li>
          <li><a href="#">Offers and deals</a></li>
        </ul>
      </div>
    </div>
</nav>
