
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fashvolts</title>
    {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'products/css/bootstrap.min.css' %}" />
      <link href="{% static 'products/css/animate.min.css' %}" rel="stylesheet">
      <link href="{% static 'products/css/bootstrap-dropdownhover.min.css' %}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'products/css/test-style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'products/css/desktop.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'products/css/tablet.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'products/css/white-theme.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'products/css/user-dash.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'products/css/user-dash-colors.css' %}" />
      <script src="{% static 'products/js/jquery-3.2.1.js' %}"></script>
      <script src="{% static 'products/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'products/js/bootstrap-dropdownhover.min.js' %}"></script>

      <script src="https://use.fontawesome.com/a8a9a7df82.js"></script>
  </head>
  <body>
    <header>

      {% include 'header.html' %}
    </header>



{% block body_block %}{%endblock%}
<footer>
  {% include 'footer.html' %}
</footer>
<script src="{% static 'products/js/nav.js' %}"></script>
  </body>
</html>
