.catalog-form-container .header
{
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}

.catalog-form-container .form-container
{
  box-shadow: 1px 1px 2px #ccc;
  border:1px solid #ccc;
}
