
.navbar
{
  background-color: rgba(0,0,0,0.4);
}
.navbar-header div
{
  color:white;
}
.navbar-form input.form-control
{
  background: transparent;
  color: white;
  border-color: white;
}
.navbar-form input.form-control::placeholder
{
  color:white;
}

.navbar-form button
{
  background: transparent;
  color:white;
}

.navbar-nav li.open a.dropdown-toggle:hover
{
  background-color:rgba(0,0,0,0.5);
}

.navbar-nav li a
{
  color:white;
  font-size:20px;
}

.navbar-nav li.open a.dropdown-toggle
{
  background-color:rgba(0,0,0,0.5);
}

.dropdown-menu
{
  background-color:rgba(0,0,0,0.5);
}
.dropdown-menu li a
{
  color:white;
}
button.navbar-toggle {
    color: white;
    border-color: white;
}

/*header ends*/
/*footer starts*/
footer
{
  background-color: black;
}

footer a
{
  color: white;
}

/*footer ends*/
.hero
{
  background-image: url("../images/banner.jpg");
  background-blend-mode: overlay;
  background-color: rgba(0,0,0,0.4);
}


.bannerText
{
  color: white;
}
