@media (min-width: 768px) {
/*filters*/
.product-filters
{
    width: 20%;
    display:inline-block;
    border-bottom: none;
    vertical-align: top;
    margin:0 20px;
    padding:0;
}
.main-filter-btn
{
  padding:0!important;
}
.product-filters h3
{
  margin:0;
  padding: 10px;

}
.filter-list
{
}
.filter-btn
{
    width: 100%;
    padding: 5px 20px;
    text-align: left;
    border:none;
    font-size: 18px;
}
.filter-btn i
{
  float:right;
  margin-right: 20px;
}
.filter-type-list
{
    padding:20px;
}
.filter-type-list li
{
  display:list-item;
  font-size: 16px;
}
.filter-type-list li input
{
  margin: 5px;
}
/*product listing*/
.product-list-container
{
    width:70%;
    margin:auto;
    display:inline-block;
    text-align:center;
}
.product-list
{

}
.product-container
{
    width:225px;
    margin:10px;
    border-radius:15px;
}
.image-container.list
{

}
.image-container.list img
{
  border-radius: 15px;
}
.product-attributes-container
{
  margin-top: 5px;
}
.product-rating
{
  width:50px;
  height:50px;
  position: relative;
  top:0;
  left:0;
  border-radius: 50%;
  padding: 15px 0;
  display:inline-block;
  vertical-align: middle;
}
.product-attributes
{
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}
.product-name
{
  display:block;
  height:20px;
}

.product-ctas
{
  margin-top: 5px;
}
.product-add-to-cart
{
    display:inline-block;
    width: 80px;
    margin-right:5px;
}
.product-add-to-cart button
{
  width:100%;
  padding:0;

}
.sizes
{
  display:inline-block;
  width:60px;
}
.sizes button
{
  width:100%;
  padding:0;
}
.sizes .dropdown-menu
{
  width:100%;
  background-color: auto;
  color:auto;
  min-width:60px;
  border-radius: 0 0 10px 10px;
}
.size-type
{
  cursor:pointer;
}
}
