.cart-btn
{
  background-color: orange;
  color: white;
}

.continue-shopping-cta .btn
{
  background-color: #f2f2f2;
}

.continue-shopping-cta .btn:hover
{
  box-shadow: 0 0 2px #999;
}

.bill-span
{
  font-weight: bold;
}
