{% extends "adminbase.html" %}
{% block body %}
    <h1>ADMIN PANEL</h1>
    <ul>
    <li>CATELOG
           <ul>
                     <li>
                           <a href={% url "admin-catalog-base" %}>base category</a>
                     </li>
           </ul>
            <ul>
                     <li>
                           <a href={% url "admin-catalog-sub" %}>subcategory</a>
                     </li>
           </ul>
    </li>
     <li>CUSTOMERS
           <ul>
                     <li>
                           <a href={% url "admin-customer" %}>customers</a>
                     </li>
           </ul>
    </li>
        <li>Order
           <ul>
                     <li>
                           <a href={% url "admin-order %}>order</a>
                     </li>
           </ul>
    </li>
    </ul>
   <h3>  ORDER COUNT :{{order_count}}</h3>
     <h3>CUSTOMER COUNT : {{customer_count}}</h3>
    {% for order in recent_order %}
    <li>{{order.Order_In_Name_Of}}</li>
    {%endfor%}

    
{% endblock %}
