{%extends 'admin-dash.html'%}
{% load static %}
{%block body%}
<div class="container-fluid">
  <div class="data-container detail-box">
      <div class="header">
        <i class="fa fa-list" aria-hidden="true"></i>
        Order List
      </div>
      <div class="table-container">
          <table class="table table-bordered table-responsive">
              <thead>
                <tr>
                  <th>Order Id</th>
                  <th>Customer</th>
                  <th>Status</th>
                  <th>Order Date</th>
                  <th>Last Modified</th>
                  <th>Total Cost</th>
                  <th>View Order</th>
                  <th>Status Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0001</td>
                  <td>John Doe</td>
                  <td>Pending</td>
                  <td>21/08/17</td>
                  <td>22/08/17</td>
                  <td>2000</td>
                  <td>
                    <a class="view-btn btn btn-default" href="/admin-dashboard/order-details"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  </td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Change Status <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu status-list">
                          <li><a href="#">Pending</a></li>
                          <li><a href="#">Confirm</a></li>
                          <li><a href="#">Delivered</a></li>
                          <li><a href="#">Returned</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>

              </tbody>
          </table>
      </div>
  </div>
</div>
{%endblock%}
