{%extends 'base/admin-dash.html'%}
{% load static %}
{%block body%}

<div class="container-fluid">
  <div class="messages">
      {%if messages%}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {%endif%}
  </div>
  <div class="data-container detail-box">
       {%csrf_token%}
      <div class="header">
        <i class="fa fa-list" aria-hidden="true"></i>
        Order List

          <button type="button" class="btn btn-default alternate-cta-btn pull-right" data-toggle="modal" data-target="#filter-modal">Filter Orders</button>
      </div>
      <div class="table-container">
          <table class="table table-bordered table-responsive">
              <thead>
                <tr>
                  <th>Order Id</th>
                  <th>Customer</th>
                  <th>Payment Status</th>
                  <th>Order Date</th>
                  <th>Last Modified</th>
                  <th>Total Cost</th>
                  <th>View Order</th>
                </tr>
              </thead>
              <tbody>
                {% for contact in filter.qs %}
                <tr>
                  <td>{{contact.id}}</td>
                  <td>{{contact.Order_In_Name_Of}}</td>
                  <td>{{contact.Order_Payment_status.payment_status}}</td>
                  <td>{{contact.Order_Date_Time}}</td>
                  <td>22/08/17</td>
                  <td>{{contact.Order_Total_Price}}</td>
                  <td>
                    <a class="view-btn btn btn-default" data-toggle="modal" data-target="#productModal{{contact.id}}"><i class="fa fa-eye" aria-hidden="true"></i></a>

                    <!-- Modal -->
                      <div id="productModal{{contact.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Products</h4>
                            </div>
                            <div class="modal-body">
                              <table class="table table-responsive">
                                <thead>
                                    <tr>
                                      <th>Product</th>
                                      <th>Name</th>
                                      <th>Price</th>
                                      <th>Quantity</th>
                                      <th>Final Price</th>
                                      <th>Status</th>
                                      <th>Change Status</th>
                                      <th></th>
                                    </tr>
                                </thead>
                                <tbody>
           
                                    {%for product in  contact.order_product_specs_set.all %}
                                 
                                        <tr>
                                          <td><img src="{{product.Ordered_Product.Main_Image.url}}" alt=""></td>
                                          <td>{{product.Ordered_Product.Product_Name}}</td>
                                          <td>₹{{product.Ordered_Product.price_after_discount}}</td>
                                          <td>{{product.Quantity}}</td>
                                          <td>₹{{product.Final_Ordered_Product_price}}</td>
                                          <td>{{product.Order_Status.status_for_order}}</td>
                                          <td>
                                          
                                            <select id="status-list-{{contact.pk}}-{{product.pk}}" class="status-list" name="">
                                                  {%for status in status%}
                                                    <option value="{{status.status_for_order}}">{{status.status_for_order}}</option>
                                                  {%endfor%}
                                            </select>
                                          </td>
                                          <td>
                                            <button type="button" name="button" class="status-change-btn btn btn-primary" data-order-id="{{contact.pk}}" data-product-id="{{product.pk}}" data-url="{%url "admin-order-product-status"%}">Change</button>
                          
                                          </td>
                                        </tr>
                                 
                                    {%endfor%}
                                </tbody>
                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>

                        </div>
                      </div>


                  </td>
                </tr>
                {%endfor%}
              </tbody>
          </table>
      </div>
  </div>

  <!-- Filter modal -->
  <div id="filter-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Apply Filters</h4>
          </div>
          <div class="modal-body">
              <div class="form">
                <!-- <form id="filter-form">
                  <div class="form-group">
                    <label for="order-id">Order ID</label>
                    <input type="text" class="form-control" id="order-id" placeholder="Order ID">
                  </div>
                  <div class="form-group">
                    <label for="customer">Customer</label>
                    <input type="text" class="form-control" id="customer" placeholder="Customer">
                  </div>
                  <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" id="category">
                      <option>Clothing</option>
                      <option>Mobile Cover</option>
                      <option>Mobile Skins</option>
                      <option>Footwear</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status">
                      <option>Pending</option>
                      <option>Confirmed</option>
                      <option>Delivered</option>
                      <option>Cancelled</option>
                      <option>Returned</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="order-date">Order Date</label>
                    <input type="date" class="form-control" id="order-date" placeholder="Order Placed on">
                  </div>
                  <div class="form-group">
                    <label for="modify-date">Date Modified</label>
                    <input type="date" class="form-control" id="modify-date" placeholder="Last Modified on">
                  </div>

                  <button type="submit" class="btn btn-default btn-success" id="apply-filter-btn">Apply Filter</button>
                  </form> -->
                  {{ form.non_field_errors }}
                  <form action="" method="get" id="filter-form" class="provide-bootstrap-class">
                    {% csrf_token %}
                    {% for field in filter.form %}

                        {{ field.errors }}
                        <div class="form-group">
                              <label for="{{ field.id_for_label }}">{{ field.label }}:</label>

                              {{ field }}
                        </div>

                    {%endfor%}
                    <div class="form-group button">
                        <button type="submit" class="btn btn-default btn-success">Search</button>
                    </div>

                  </form>


              </div>
          </div>
          <div class="modal-footer">
            * You don't have to fill all the fields.
          </div>
        </div>
      </div>
  </div>


<!-- Filter modal ends -->
  <!-- <div class="pagination">
      <span class="step-links">
          {% if contacts.has_previous %}
              <a href="?page={{ contacts.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
          </span>

          {% if contacts.has_next %}
              <a href="?page={{ contacts.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div> -->

  <div class="pagination">
      {% if contacts.has_previous %}
          <a href="?page={{ contacts.previous_page_number }}" class="btn btn-default pagination-btn">Previous</a>
      {%else%}    
      <a href="#" class="btn btn-default pagination-btn" disabled>Previous</a>
      {% endif %}
      {% for page in contacts.paginator.page_range %}
      {% ifequal page contacts.number %}
      <a class="current btn btn-default" href="#">
          {{page}}
      </a>

      {% else %}
      <a class="btn btn-default pagination-btn" href="?page={{ page }}">
              {{page}}
      </a>
      {%endifequal%}
      {% endfor %}

      {% if contacts.has_next %}
      <a href="?page={{ contacts.next_page_number }}" class="btn btn-default pagination-btn">Next</a>
      {%else%}
      <a href="#" class="btn btn-default pagination-btn" disabled>Next</a>
      {% endif %}

</div>

</div>


{%endblock%}
