{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href={%static "css/bootstrap.min.css" %}  rel="stylesheet">
       {% block title %}
        {%endblock %}
      </head>
    <body>
       <div  class="container">
       <div class="col-md-4">
       {%if siteadmin %}
                  <a href={% url  "admin-signout"  %} >Logout</a>
                  <li>Hi {{siteadmin.username}}  </li>
          {%endif%}
           {% block body %}
           {%endblock%}
  <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src={%static "js/bootstrap.min.js" %}></script>
    <script src={%static "js/jquery.js" %}></script>
   <script src={%static "js/ajax.js"%}></script>
    {%block scripts%}
    {%endblock%}
  </body>
</html>
