{% extends "adminbase.html" %} {% block body %}
<h1>ADMIN  CUSTOMER LIST</h1> {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<div style="float:right">
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>
    {% for items in filter.qs%}
    {{ items}}
    {% endfor %}
  </div>
  <div style="float:left">
    <h3>AVAILIABLE STATUS:</h3> 
    {% for status in status%} 
    {{status}} <br>
    {% endfor %}
    <h3>ORDERS</h3>
<ul>
{% for orders in contacts %}
<li> {{orders.pk}}
    <ul>
        {% for product in orders.order_product_specs_set.all %}
        <li>{{ product.pk }}
            <button class="status">CHANGE</button>
        </li>
        {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>
    <div class="pagination">
        <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span> {% if contacts.has_next %}
        <a href="?page={{ contacts.next_page_number }}">next</a> {% endif %}
        </span>
    </div>
  </div>
    {% endblock %}
