{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href={%static "css/bootstrap.min.css" %}  rel="stylesheet">
       {% block title %}
        {%endblock %}
      </head>
    <body>
       <div  class="container">
       <div class="col-md-8">
       <a href={% url "admin-login" %}>admin</a>
          {% for base in base_category_list%}
            <li>
                   {{ base.Base_Category }}
                     <ul >
                             {% for  sub in base.subcategory_set.all %}
                              <li>{{sub.Sub_Category}}
                              </li>
                             {%endfor%}
                       </ul>
            </li>
       
        {% endfor %}
       </div>
       <div class="col-md-4">
             {% if siteuser %}
                  <a href={%url "signout" %}>Logout</a>
                  <li>Hi <a href={%url   "user-dashboard" %} > {{siteuser.customer.Customer_First_Name}}  {{siteuser.customer.Customer_Last_Name}} </a></li>
            {% else %}
                <a href={%url  "signin" %}>SignIn</a>
                <a href={%url "register" %}>Register</a>
            {% endif %}
         <div style="border:1px solid #b3b3b3; padding:10px;border-radius:5px;" >
         CART:<p class="cart-list">
           

         </p>   
         </div>
           <a href={% url "checkout" %}>checkout</a>
         </div>
           {% block body %}
           {%endblock%}
  <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src={%static "js/bootstrap.min.js" %}></script>
    <script src={%static "js/jquery.js" %}></script>
   <script src={%static "js/ajax.js"%}></script>
    {%block scripts%}
    {%endblock%}
  </body>
</html>
