{% extends 'base/base.html' %}
{% load static %}
{% block body_block %}

    <div class="hero image">

      <div class="bannerText">
          <h1>SPARK YOUR STYLE</h1>
      </div>
    </div>
    <div class="page-content">
      <div class="category-container">
        <ul>
        {% for category in all_categories %}

        <li>
          <a href="{% url 'products:products' %}">{{category.category_name}}</a>
        </li>
        {% endfor %}
      </ul>
      </div>
    </div>


{%endblock%}
