{% extends "base.html" %}
{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="col-md-12">
    <h2>HOME</h2>
    <ul>
        {% for base in base_category_list%}
            <li>
                   {{ base.Base_Category }}
                    <img src={{base.Base_Category_Pic.url}}   />
                     <ul >
                             {% for  sub in base.subcategory_set.all %}
                              <li>{{sub.Sub_Category}}
                              </li>
                             {%endfor%}
                       </ul>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
