{% extends 'base/list.html' %}
{% load static %}

{% block body_block %}
  {%csrf_token%}
  <div class="page-content">
    <div class="product-filters">
      Filters
      <ul>
        {% for filter in filters %}
       <li>{{filter.Filter_Name}}
         <ul>
         {%for filter_sub in filter.filter_category_set.all %}
         <li>
         <lable>{{filter_sub.Filter_Category_Name}}</lable>
              <input value={{filter_sub.Filter_Category_Name}} type="checkbox">
            </li>
         {% endfor %}
       </ul>
       </li>
     {% endfor %}
      </ul>
      </div>

    <!--filter ends-->
    <div class="product-list-container container-fluid">
      <ul class="product-list">
        {% for product in product_list %}
          <li>
              <div class="product-container">
                <div class="image-container list">
                  <a href="{{product.pk}}">
                          <img src="{{product.Main_Image.url}}"/>
                  </a>
                </div>
                <div class="product-attributes-container">
                      <div class="product-rating list-cta-btn">
                            4.5/5
                      </div>
                      <div class="product-attributes">
                          <div class="product-name">
                            <a href="{{product.product_id}}">{{product.Product_Name}}</a>
                          </div>
                          <div class="product-price">
                            <span class="current-price">₹{{product.price_after_discount}}</span>
                            <br>
                            <span class="original-price"><strike>₹{{product.Base_Price}}</strike></span>
                            <span class="discount">{{product.Discount| floatformat}}% off</span>
                          </div>
                          <div class="product-ctas">
                            <div class="product-add-to-cart">
                                <button title="Add to cart" data-toggle="modal" data-target="#cartModal-{{product.id}}" class="btn btn-default list-cta-btn">Add to Cart</button>
                            </div>
                            <div id="cartModal-{{product.id}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <!-- <h4 class="modal-title">Modal Header</h4> -->
                                    </div>
                                    <div class="modal-body">
                                      <p>Add Product to Cart?</p>
                                      <button class="btn btn-default cart-btn" data-product-id={{product.id}} data-ajax-url={%url  'cart' %}>
                                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            ADD TO CART
                                      </button>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            <div class="sizes dropdown">
                              <button class="btn btn-default dropdown-toggle list-cta-btn" type="button" data-toggle="dropdown" data-hover="dropdown">
                                    Sizes
                              </button>
                              <ul class="dropdown-menu">
                                <li class="size-type">s</li>
                                <li class="size-type">m</li>
                                <li class="size-type">l</li>
                              </ul>

                            </div>
                          </div>
                      </div>
                </div>

              </div>

          </li>

        {% endfor %}
      </ul>
    </div>
  </div>

{%endblock%}
