{% extends 'base/user-dash.html' %}
{% load static %}
{% block body_block %}
    <h3>Your past orders:</h3>

    <div class="container-fluid">
      {% for order in orders%}
      <div class="orders-container">
          <div class="header">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <th>order placed</th>
                    <th>total</th>
                    <th>shipped to</th>
                    <th>Order</th>
                    <th>payment status</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>{{order.Order_Date_Time}}</td>
                      <td>{{ order.Order_Total_Price}}</td>
                      <td>{{ order.Order_In_Name_Of}}</td>
                      <td>#{{ order.pk}}</td>
                      <td>{{ order.Order_Payment_status.payment_status}}</td>
                    </tr>
                </tbody>
              </table>
          </div>
          {%for product in  order.order_product_specs_set.all %}
          <div class="main-content">
              <div class="image-container">
                    <img src="{{product.Ordered_Product.Main_Image.url}}" alt="">
              </div>
              <div class="product-details">
                <table class="table table-responsive">
                        <thead>
                          <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Final Price</th>
                            <th>Order Status</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{product.Ordered_Product.Product_Name}}</td>
                            <td>₹{{product.Ordered_Product.price_after_discount}}</td>
                            <td>{{product.Quantity}}</td>
                            <td>₹{{product.Final_Ordered_Product_price}}</td>
                            <td>{{product.Order_Status.status_for_order}}</td>
                          </tr>
                        </tbody>
                </table>

              </div>

              <div class="action-btns">
                    <a href="#" class="btn btn-default alternate-cta-btn">Track Package</a>
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#cancelPackageModal" data-url="{%url "cancel-order"%}" data-id="">Cancel Package</a>

              </div>
          </div>
          <!--cancel warning Modal -->
            <div id="cancelPackageModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cancel Order</h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure that you want to cancel the order!!</p>
                  </div>
                  <div class="modal-footer">
                    <button data-url="{%url "cancel-order"%}" class="btn btn-danger  cancel-package-btn" data-url="{%url "cancel-order"%}" data-id="{{order.pk}}">Cancel Package</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
          {%endfor%}
      </div>



      {%endfor%}
    </div>





    <!-- <ul>
        {% for order in orders%}
            <li>
                   {{ order.Order_In_Name_Of}}

                   {{order.Order_Date_Time}}

                    {{order.Order_ZIP}}

                     {{order.Order_Date_Time}}

                      {%for product in  order.order_product_specs_set.all %}
                        <p>{{product.Ordered_Product.Product_Name}}</p>
                      {%endfor%}

                     {{order.Order_Payment_status.payment_status}}

            </li>
        {% endfor %}
    </ul> -->
{% endblock %}
