{% extends 'base/user-dash.html' %}
{% load static %}
{% block body_block %}
{%csrf_token%}
    <h3>Wishlist</h3>

    <div class="container-fluid">

      <div class="orders-container">
          <div class="header">
             <ol>
                  {% for product in product_list%}
                  <li>
                   <a href={{product.Product_In_Wishlist.get_product_url}} >  
                      <h3>{{product.Product_In_Wishlist.Product_Name}} price: 
                     {{product.Product_In_Wishlist.price_after_discount}}  </h3>
                  </a>
                     </li>
                     <button title="Remove from Wishlist"  class="btn btn-default del-wishlist-btn"  data-product-id={{product.id}} data-ajax-url={%url  'delete-wishlist' %}>Remove from Wishlist</button>
                     {%endfor%}
               </ol>
          </div>
   
    </div>
  </div>


{% endblock %}
